div{
    background-color: #fef2cd;
    width: 830px;
    border: 2px solid black;
}
header, main, footer{
    background-color: #fef2cd;
    text-align: center;

}
main{
    margin: 0 auto;
    text-align: center;
    width: 810px;
    border: 4px solid black;
    overflow: hidden;
}
.left{
    float: left;
}
.right{
    float: right;
}
#gif{
    width: 440px;
    height: 440px;
}
#pie{
    border-top: 1px solid black;
}
.infBorder{
    border-bottom: 10px solid black;
}
.leftMag{
    margin-left: 45px;
}
.topMag{
    margin-top: 5px;
}